/* Projekt: Multimedieproduktion 1 - Amo hvedemel - Lavet af Anne-Sofie Jespersen */

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Outfit', sans-serif; brødtekst */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    font-family: Outfit;
  }

/* ----------------------------- Farver ----------------------------------*/
:root {
  --white: #ffffff;
  --black: #000000;
  --yellow: #FDC809;
}


/* ----------------------------- Typografi ----------------------------------*/
h1 {
font-family: Outfit;
font-weight: 300;
font-size: 70px;
}

h2 {
  font-family: Outfit;
  font-weight: 500;
  font-size: 30px;
}

h3 {
  font-family: Outfit;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

h4{
  font-family: Outfit;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  padding-bottom: 20px;
}

h5 {
  font-family: Outfit;
  font-weight: 300;
  font-size: 20px;
  padding-top: 20px;
  padding: 6%;
}

h6 {
  font-family: Outfit;
  font-weight: 200;
  font-size: 14px;
  text-align: right;
  padding-bottom: 6%;
  padding-right: 20px;
}
p {
  font-family: Outfit;
  font-weight: 300;
}


/* ----------------------------- Baggrund ----------------------------------*/
body{
    background: url(../images/forside/baggrund.png)center;
    height: auto;
    width: auto;
}

/* ----------------------------- Sne ----------------------------------*/
.snowflake {
  color: var(--black);
  font-size: 2em;
}
@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}

/* ----------------------------- Navbar - Computer ----------------------------------*/
header {
    border-top: 1px solid white;
  }

.logocomputer {
   position: absolute;
   width: 50px;
   height: 50px;
   left: 6%;
}

.kurvcomputer {
  position: absolute;
  right: 10%;
  top: 10%;
}

/* ----------------------------- Navbar - Mobil ----------------------------------*/
.logomobil {
    position: absolute;
    left: 40%;
}
.kurvmobil {
  position: absolute;
  right: 10%;
  top: 6%;
}

/* ------------------------------ Menu - Mobil ------------------------------*/
.burger {
  position: fixed;
  left: -62%;
  z-index: 100000;
  width: 300px;
  top: 19%;
  padding-bottom: 40%;
  background-color:var(--white);
  font-family: Outfit;
  text-align: center;
  list-style-type: none;
}

#showMenu {
  float: right;
  transform: rotate(-90deg);
  margin-top: 44%;
}

#menupunkter {
  margin-left: 20%;
  margin-top: 20%;
  position: absolute;
}

.burger:hover {
  left:0px;
}

nav {
  clear: both;
}

/* ------------------------------ Mediarule for iPhone 5/SE ------------------------------*/
@media only screen and (max-width: 320px) {
  .burger {
    left:-69%
  }
  }

/* ----------------------------- Menu - Computer ----------------------------------*/
.menu{
    text-decoration: none;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
  }

  .menuitem{
    text-decoration: none;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-size: 16px;
  }


/* ----------------------------- Indhold - Mobil ----------------------------------*/

.overskriftmob {
    text-align: center;
    margin-top: 40%;
}

.kategorier-mobil {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.kat1mob {
    background-color: var(--yellow);
    padding: 3%;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.kat2mob {
    background-color: var(--yellow);
    padding: 3%;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.kat3mob {
    background-color: var(--yellow);
    padding: 3%;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;

}

.kat4mob {
    background-color: var(--yellow);
    padding: 3%;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* ----------------------------- Billeder ----------------------------------*/
div.gallery {
    border: 1px solid white;
  }
  
  .gallery:hover {
    border: 2px solid var(--yellow);
  }
  
  .gallery img {
    width: 100%;
    height: auto;
  }
  
  .desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  

/* ----------------------------- Indhold - Computer ----------------------------------*/
.overskriftcom {
    text-align: center;
    margin-top: 5%;
}

.kategoriercom {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
}

.kategorier1com {
    text-align: center;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin-left: 25%;
}
.kategorier2com {
    text-align: center;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin-left: 25%;
}

.kat1com {
    background-color: var(--yellow);
    padding-left: 80%;
    padding-right: 170%;
    padding-top: 27%;
    padding-bottom: 27%;
    margin-bottom: 8%;
    white-space: nowrap;
}

.kat2com {
    background-color: var(--yellow);
    padding-left: 100%;
    padding-right: 150%;
    padding-top: 25%;
    padding-bottom: 25%;
}

.kat3com {
    background-color: var(--yellow);
    padding-left: 300%;
    padding-right: 450%;
    padding-top: 87%;
    padding-bottom: 87%;
    margin-bottom: 20%;
}

.kat4com {
    background-color: var(--yellow);
    padding-left: 300%;
    padding-right: 450%;
    padding-top: 80%;
    padding-bottom: 80%;
}


.kagerulle {
    opacity: 0.6;
    width: 40%;
    margin-left: 31%;
    margin-bottom: 6%;
}


/* ----------------------------- Billeder ----------------------------------*/
div.gallery {
    border: 1px solid transparent;
    margin-top: 8%;
  }
  
  .gallery:hover {
    border: 2px solid var(--yellow);
  }
  
  .gallery img {
    width: 100%;
    height: auto;
  }
  
  .desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 33.3333%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }




/* ----------------------------- Footer - Mobil ----------------------------------*/
.responsive1 {
    padding-left: 5%;
    padding-bottom: 1%;
    }
    
    .some1 {
      padding-top: 24%;
    }
    
    .footermobil {
      margin-top: 20%;
      border-top: 2px solid grey;
      background-image: linear-gradient(grey, transparent);
      height: 40px;
      position: relative;
      z-index: 0;
      display: flex;
      flex-direction: column;
    }
    
    .kundeservice {
    position: absolute;
    z-index: 2;
    text-align: right;
    padding-left: 25%;
    padding-top: 30%;
    }
    
    .negfootermobil {
      opacity: 0.6;
      padding-left: 28%;
      padding-top: 4%;
      position: absolute;
      z-index: 0;
    }
    
    .socialemedier {
    position: absolute;
    z-index: 2;
    padding-left: 2%;
    padding-top: 4%;
    }
    
    
    /* ----------------------------- Footer - Computer ----------------------------------*/
    .responsive2 {
      padding-top: 6%;
      padding-left: 6%;
      }
    
      .footercomputer {
        margin-top: 10%;
        border-top: 2px solid grey;
        background-image: linear-gradient(grey, transparent);
        height: 40px;
        display: flex;
        flex-direction: row;
      }
      
      .some11 {
        position: absolute;
        padding-left: 65%;
      }
    
      .some22 {
        position: absolute;
        padding-left: 66.5%;
      }
    
      .some33 {
        position: absolute;
        padding-left: 68%;
      }
      
      .socialemediercom {
        position: absolute;
        z-index: 2;
        padding-left: 70%;
        padding-top: 2%;
        white-space: nowrap;
      }
      
      .kundeservicecom {
      position: absolute;
      z-index: 2;
      text-align: right;
      padding-left: 35%;
      padding-top: 2%;
      padding-bottom: 1%;
      white-space: nowrap;
      }
      
      .negfootercomputer {
        opacity: 0.6;
        padding-left: 10%;
        padding-top: 3%;
        position: absolute;
        z-index: 0;
      }
    
    
    /* ------------------------------ Mediarules - Telefon / stående tablet ------------------------------*/
    @media only screen and (max-width: 812px) {
      .logocomputer {
          display: none;
      }
    
      .kurvcomputer {
        display: none;
      }
    
      .menu {
        display: none;
      }
    
      .menuitem {
        display: none;
      }
    
      .footercomputer {
        display: none;
      }

      .indholdcomputer {
          display: none;
      }
    }
    
    /* ------------------------------ Mediarules - Computer / liggende tablet ------------------------------*/
    @media only screen and (min-width: 813px) {
        .burger {
            display: none;
        }
    
        .logomobil {
            display: none;
        }
    
        .kurvmobil {
          display: none;
        }
    
       .footermobil {
         display: none;
       }

       .indhold-mobil {
           display: none;
       }
    }