/* Projekt: Multimedieproduktion 1 - Amo hvedemel - Lavet af Anne-Sofie Jespersen */

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Outfit', sans-serif; brødtekst */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    font-family: Outfit;
    list-style-type: none;
  }

/* ----------------------------- Farver ----------------------------------*/
:root {
  --white: #ffffff;
  --black: #000000;
  --yellow: #FDC809;
}


/* ----------------------------- Typografi ----------------------------------*/
h1 {
font-family: Outfit;
font-weight: 300;
font-size: 70px;
}

h2 {
  font-family: Outfit;
  font-weight: 500;
  font-size: 30px;
}

h3 {
  font-family: Outfit;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

h4{
  font-family: Outfit;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  padding-bottom: 20px;
}

h5 {
  font-family: Outfit;
  font-weight: 300;
  font-size: 20px;
  padding-top: 20px;
  padding: 6%;
}

h6 {
  font-family: Outfit;
  font-weight: 200;
  font-size: 14px;
  text-align: right;
  padding-bottom: 6%;
  padding-right: 20px;
}

p {
  font-family: Outfit;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}


/* ----------------------------- Baggrund ----------------------------------*/
body{
    background: url(../images/forside/baggrund.png)center;
    height: auto;
    width: auto;
    background-repeat: repeat;
}

/* ----------------------------- Sne ----------------------------------*/
.snowflake {
  color: var(--black);
  font-size: 2em;
}
@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}


/* ----------------------------- Navbar - Computer ----------------------------------*/
header {
    border-top: 1px solid white;
  }

.logocomputer {
   position: absolute;
   width: 50px;
   height: 50px;
   left: 6%;
}

.kurvcomputer {
  position: absolute;
  right: 10%;
  top: 10%;
}

/* ----------------------------- Navbar - Mobil ----------------------------------*/
.logomobil {
    position: absolute;
    left: 45%;
}
.kurvmobil {
  position: absolute;
  right: 10%;
  top: 6%;
}

/* ------------------------------ Menu - Mobil ------------------------------*/
.burger {
  position: fixed;
  left: -68%;
  z-index: 100000;
  width: 300px;
  top: 19%;
  padding-bottom: 40%;
  background-color:var(--white);
  font-family: Outfit;
  text-align: center;
  list-style-type: none;
}

#showMenu {
  float: right;
  transform: rotate(-90deg);
  margin-top: 44%;
}

.menupunkter {
  margin-left: 20%;
  margin-top: 20%;
  position: absolute;
}

.burger:hover {
  left:0px;
}

nav {
  clear: both;
}

/* ------------------------------ Mediarule for iPhone 5/SE ------------------------------*/
@media only screen and (max-width: 320px) {
  .burger {
    left:-69%
  }
  }

/* ----------------------------- Menu - Computer ----------------------------------*/
.menu{
    text-decoration: none;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
  }

  .menuitem{
    text-decoration: none;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-size: 16px;
  }


/* ----------------------------- Indhold - Mobil ----------------------------------*/
.overskift1mob {
    text-align: center;
    padding-left:19%;
    padding-right: 19%;
    padding-top: 19%;
    padding-bottom: 4%;
    margin-top:30%;
}

.overskift2mob {
    text-align: center;
    padding-left:19%;
    padding-right: 19%;
}

.btn {
    font-family: Outfit;
    width: 100%;
    background-color: var(--yellow);
    margin-top: 10%;
    padding-right: 18%;
    padding-left: 18%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  
  .container0 {
    padding: 40px;
    width: 100%;
    font-family: Outfit;
  }
  
  input {
    font-family: Outfit;
    width: 100%;
    text-align: center;
    padding-right: 18%;
    padding-left: 18%;
    padding-top: 4%;
    padding-bottom: 4%;
    border: 2px solid var(--yellow);
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
.column1 {
    float: left;
    width: 35%;
    padding: 10%;
    height: 425px;
    margin-left: 12%;
  }

  .column2 {
    float: left;
    width: 40%;
    padding: 10%;
    height: 425px;

  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
 

/* ----------------------------- Indhold - Computer ----------------------------------*/

.overskift1com {
    text-align: center;
    padding-left:19%;
    padding-right: 19%;
    padding-top: 1%;
    padding-bottom: 4%;
    margin-top:10%;
}

.overskift2com {
    text-align: center;
    padding-left:19%;
    padding-right: 19%;
}

.overskrift3com {
padding-top: 1%;
padding-bottom: 4%;
}

.negcom1 {
    position:absolute;
    opacity: 0.6;
    margin-left: 8%;
    margin-top: 3%;
}

.btncom {
    font-family: Outfit;
    width: 30%;
    background-color: var(--yellow);
    margin-top: 2%;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    float: right;
    margin-right: 20%;
  }
  
  .container0com {
    padding: 40px;
    width: 100%;
    font-family: Outfit;
  }

  .negcom2{
      position:absolute;
      opacity: 0.6;
      margin-left: 79%;
      margin-top: 5%;
  }

  .inputcom {
    font-family: Outfit;
    width: 60%;
    text-align: center;
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    float: right;
    margin-right: 20%;
    border: 2px solid var(--yellow);
  }

  .clearfixcom::after {
    content: "";
    clear: both;
    display: table;
  }
  
.column1com {
    float: left;
    width: 25%;
    padding: 5%;
    height: 400px;
    margin-left: 26%;
  }

  .column2com {
    float: left;
    width: 25%;
    padding: 5%;
    height: 400px;

  }
  
  .rowcom:after {
    content: "";
    display: table;
    clear: both;
  }
 



/* ----------------------------- Footer - Mobil ----------------------------------*/
.responsive1 {
    padding-left: 5%;
    padding-bottom: 1%;
    z-index: 3;
    }
    
    .some1 {
      padding-top: 24%;
    }
    
    .footermobil {
      margin-top: 20%;
      border-top: 2px solid grey;
      background-image: linear-gradient(grey, transparent);
      height: 40px;
      position: relative;
      z-index: 0;
      display: flex;
      flex-direction: column;
    }
    
    .kundeservice {
    position: absolute;
    z-index: 2;
    text-align: right;
    padding-left: 25%;
    padding-top: 30%;
    }
    
    .negfootermobil {
      opacity: 0.6;
      padding-left: 28%;
      padding-top: 4%;
      position: absolute;
      z-index: 0;
    }
    
    .socialemedier {
    position: absolute;
    z-index: 2;
    padding-left: 2%;
    padding-top: 4%;
    }
    
    
    /* ----------------------------- Footer - Computer ----------------------------------*/
    .responsive2 {
      padding-top: 6%;
      padding-left: 6%;
      }
    
      .footercomputer {
        margin-top: 10%;
        border-top: 2px solid grey;
        background-image: linear-gradient(grey, transparent);
        height: 40px;
        display: flex;
        flex-direction: row;
      }
      
      .some11 {
        position: absolute;
        padding-left: 65%;
        z-index: 2;
      }
    
      .some22 {
        position: absolute;
        padding-left: 66.5%;
        z-index: 1;
      }
    
      .some33 {
        position: absolute;
        padding-left: 68%;
        z-index: 0;
      }
      
      .socialemediercom {
        position: absolute;
        z-index: 2;
        padding-left: 70%;
        padding-top: 2%;
        white-space: nowrap;
      }
      
      .kundeservicecom {
      position: absolute;
      z-index: 2;
      text-align: right;
      padding-left: 35%;
      padding-top: 2%;
      padding-bottom: 1%;
      white-space: nowrap;
      }
      
      .negfootercomputer {
        opacity: 0.6;
        padding-left: 10%;
        padding-top: 3%;
        position: absolute;
        z-index: 0;
      }
    
    
    /* ------------------------------ Mediarules - Telefon / stående tablet ------------------------------*/
    @media only screen and (max-width: 812px) {
      .logocomputer {
          display: none;
      }
    
      .kurvcomputer {
        display: none;
      }
    
      .menu {
        display: none;
      }
    
      .menuitem {
        display: none;
      }
    
    
      .footercomputer {
        display: none;
      }

      .indholdcom {
          display: none;
      }
    }
    
    /* ------------------------------ Mediarules - Computer / liggende tablet ------------------------------*/
    @media only screen and (min-width: 813px) {
        .burger {
            display: none;
        }
    
        .logomobil {
            display: none;
        }
    
        .kurvmobil {
          display: none;
        }
    
       .footermobil {
         display: none;
       }

       .indholdmob {
           display: none;
       }
    }